.DS_Store

bin/*
!data
bin/data/settings.xml

# Mac
resources/*
config.make
BuildTest02.xcodeproj
Makefile
openFrameworks-Info.plist
Project.xcconfig
# addons.make

# Win
BuildTest02.sdf
BuildTest02.sln
BuildTest02.vcxproj
BuildTest02.vcxproj.filters
BuildTest02.vcxproj.user
# addons.make
icon.aps
icon.rc
obj/*
.vs