.DS_Store

bin/*
!data
bin/data/settings.xml

# Mac
resources/*
config.make
BuildTest01.xcodeproj
Makefile
openFrameworks-Info.plist
Project.xcconfig
# addons.make

# Win
BuildTest01.sdf
BuildTest01.sln
BuildTest01.vcxproj
BuildTest01.vcxproj.filters
BuildTest01.vcxproj.user
# addons.make
icon.aps
icon.rc
obj/*
.vs